@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
	box-sizing: border-box;
	transition: all ease .2s;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #FFE19C;
	font-weight: 400;
}

#root {
	margin: 0 auto;
	width: 100%;
}